body{
    margin:0;
    padding:0;
    font-family: 'Roboto';
}

main{
    position: relative;
    height: 100vh;
    width: 100%;
    background: whitesmoke;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 20px;
}

main .container{
    width:100%;
    height: 100%;
    background:none;
    box-sizing: border-box;
    padding-left: 200px;
    padding-right: 400px;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

main .container nav{
    height: 100%;
    width: 250px;
    background: none;
    position: relative;
    transition: 0.2s;
    box-sizing: border-box;
    padding-top: 100px;
}

main .container nav button{
    display: block;
    background: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    font-size: 1.5em;
    border: none;
    transition: 0.2s;
    background: rgba(0,0,0,0.05);
}

button a{
    text-decoration: none;
    color:rgb(83, 83, 83);;
}

main .container nav button:hover{
    background: rgba(0,0,0,0.08);
}

main .container .section-container{
    background: whitesmoke;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.section-container::-webkit-scrollbar{
    display: none;
}

main .container .section-container .section{
    background-color: none;
    box-sizing: border-box;
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 80px;
}

main .container .section-container .section header{
    font-size: 3em;
    font-weight: 800;
    text-align: left;
    margin-bottom: 25px;
}

.section h3{
    font-weight:700;
}

main .container .section-container .section span{
    font-size: 20px;
    display: block;
    margin-bottom: 30px;
}

#title{
    margin:0 auto;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    color: rgb(0,0,0);
}

hr{
    margin: 0;
}

.icon{
    font-size: 0.6em;
    color: black;
    margin-right: 5px;
}

.highlight{
    background: var(--clr);
    box-sizing: border-box;
    padding-left: 5px;
}

@media (max-width:1800px) and (min-width:1550px){
    main .container{
        padding-left: 100px;
    }
}

@media (max-width:1549px){
    main .container{
        padding-left: 50px;
    }
}

@media (max-width:1500px){
    main .container{
        padding-left: 25px;
    }
}

@media (max-width: 1500px){
    main .container{
        padding-right: 400px;
    }
}

@media (max-width: 1400px){
    main .container{
        padding-right: 300px;
    }
}

@media (max-width:1180px){
    main .container{
        padding-right: 0;
    }
}

@media (max-width:767px){
    main .container{
        padding-left: 0;
        padding-right: 0;
    }
    .section{
        padding-left: 5px;
        padding-right: 5px;
        margin: none;
    }
    nav{
        display:none;
    }
}
