body{
    background: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#loader{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50px;
    width: 200px;
    background: transparent;
    transition: 1s;
    gap: 2px;
}
